<!-- <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
<div id="booking" class="section">
  <div class="section-center">
    <div class="container">
      <div class="row">
      
        <div class="col-md-12 col-md-pull-7">
          <div class="booking-form">
            <form>
              <div class="row">
                <div class="col-md-6 col-sm-12">
                  <div class="form-group">
                    <span class="form-label">First Name</span>
                   <input class="form-control" type="text" placeholder="Enter Your First Name">    
                  </div>
                </div>

                <div class="col-md-6 col-sm-12">
                  <div class="form-group">
                    <span class="form-label">Last Name</span>
                   <input class="form-control" type="text" placeholder="Enter Your Last Name">    
                  </div>
                </div>
              </div>


              <div class="row">
                <div class="col-md-6 col-sm-12">
                  <div class="form-group">
                    <span class="form-label">User Name</span>
                   <input class="form-control" type="text" placeholder="Enter Your User Name">    
                  </div>
                </div>

                <div class="col-md-6 col-sm-12">
                  <div class="form-group">
                    <span class="form-label">Email</span>
                   <input class="form-control" type="email" placeholder="Enter Your Email">    
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 col-sm-12">
                  <div class="form-group">
                    <span class="form-label">Password</span>
                   <input class="form-control" type="password" placeholder="Enter Your Password">    
                  </div>
                </div>

                <div class="col-md-6 col-sm-12">
                  <div class="form-group">
                    <span class="form-label">Confirm Password</span>
                   <input class="form-control" type="password" placeholder="Confirm Your Password">    
                  </div>
                </div>

              </div>

              <div class="row">
                <div class="col-md-6 col-sm-12">
                  <div class="form-group">
                    <span class="form-label">Phone Number</span>
                   <input class="form-control" type="text" placeholder="Enter Your Phone Number">    
                  </div>
                </div>

                <div class="col-md-6 col-sm-12">
                  <div class="form-group">
                    <span class="form-label">City</span>
                   <input class="form-control" type="text" placeholder="Enter Your City">    
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 col-sm-12">
                  <div class="form-group">
                    <span class="form-label">Street</span>
                   <input class="form-control" type="text" placeholder="Enter Your Street">    
                  </div>
                </div>

                <div class="col-md-6 col-sm-12">
                  <div class="form-group">
                    <span class="form-label">Postal Code</span>
                   <input class="form-control" type="number" placeholder="Enter Your Postal Code">    
                  </div>
                </div>
              </div>


              <div class="row">
                <div class="">
                  <button class="submit-btn col-sm-12">Register</button>
                </div>
              </div>

              <div class="row having-account">
                <div class="col-sm-12">
                <span>Have an account ? </span><a routerLink="../login">Login</a>
              </div>
              </div>


             


            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->




    <div class="registration-form">
        <form>
            <div class="form-icon">
                <!-- <span><i class="icon icon-user"></i></span> -->
                 <span><i class="fa-regular fa-user"></i></span>         
            </div>

            <div class="form-group">
              <button type="button" class="btn btn-block create-account btn-google col-12"><i class="fa-brands fa-google"></i></button>
          </div>

            <div class="form-group">
                <input type="text" class="form-control item" id="username" placeholder="Username">
            </div>

            <div class="form-group">
              <input type="text" class="form-control item" id="email" placeholder="Email">
          </div>

            <div class="form-group">
                <input type="password" class="form-control item" id="password" placeholder="Password">
            </div>
            
            <div class="form-group">
              <input type="password" class="form-control item" id="confirm-password" placeholder="Confirm Password">
          </div>

            <div class="form-group">
                <input type="text" class="form-control item" id="phone-number" placeholder="Phone Number">
            </div>

            <div class="form-group">
                <input type="text" class="form-control item" id="city" placeholder="City">
            </div>

            <div class="form-group">
              <input type="text" class="form-control item" id="street" placeholder="Street">
          </div>

          <div class="form-group">
            <input type="number" class="form-control item" id="postal-code" placeholder="Postal Code">
        </div>
           
        <div class="form-group">
          <button type="button" class="btn btn-block create-account col-12">Create Account</button>
      </div>
        </form>
        <!-- <div class="social-media">
            <h5>Sign up with social media</h5>
            <div class="social-icons">
                <a href="#"><i class="icon-social-facebook" title="Facebook"></i></a>
                <a href="#"><i class="icon-social-google" title="Google"></i></a>
                <a href="#"><i class="icon-social-twitter" title="Twitter"></i></a>
            </div>
        </div> -->
    </div>


    
    <!-- <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <script src="assets/js/script.js"></script> -->

