<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
<div id="booking" class="section">
  <div class="section-center">
    <div class="container">
      <div class="row">
       <!-- <div class="col-md-7 col-md-push-5">
          <div class="booking-cta">
            <h1>Make your reservation</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi facere, soluta magnam consectetur molestias itaque
              ad sint fugit architecto incidunt iste culpa perspiciatis possimus voluptates aliquid consequuntur cumque quasi.
              Perspiciatis.
            </p>
          </div>
        </div>-->
        <div class="col-md-12 col-md-pull-7">
          <div class="booking-form">
            <form>
              <div class="row">
                <div class="col-md-6 col-sm-12">
                  <div class="form-group">
                    <span class="form-label">First Name</span>
                   <input class="form-control" type="text" placeholder="Enter Your First Name">    
                  </div>
                </div>

                <div class="col-md-6 col-sm-12">
                  <div class="form-group">
                    <span class="form-label">Last Name</span>
                   <input class="form-control" type="text" placeholder="Enter Your Last Name">    
                  </div>
                </div>
              </div>


              <div class="row">
                <div class="col-md-6 col-sm-12">
                  <div class="form-group">
                    <span class="form-label">User Name</span>
                   <input class="form-control" type="text" placeholder="Enter Your User Name">    
                  </div>
                </div>

                <div class="col-md-6 col-sm-12">
                  <div class="form-group">
                    <span class="form-label">Email</span>
                   <input class="form-control" type="email" placeholder="Enter Your Email">    
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 col-sm-12">
                  <div class="form-group">
                    <span class="form-label">Password</span>
                   <input class="form-control" type="password" placeholder="Enter Your Password">    
                  </div>
                </div>

                <div class="col-md-6 col-sm-12">
                  <div class="form-group">
                    <span class="form-label">Confirm Password</span>
                   <input class="form-control" type="password" placeholder="Confirm Your Password">    
                  </div>
                </div>

              </div>

              <div class="row">
                <div class="col-md-6 col-sm-12">
                  <div class="form-group">
                    <span class="form-label">Phone Number</span>
                   <input class="form-control" type="text" placeholder="Enter Your Phone Number">    
                  </div>
                </div>

                <div class="col-md-6 col-sm-12">
                  <div class="form-group">
                    <span class="form-label">City</span>
                   <input class="form-control" type="text" placeholder="Enter Your City">    
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 col-sm-12">
                  <div class="form-group">
                    <span class="form-label">Street</span>
                   <input class="form-control" type="text" placeholder="Enter Your Street">    
                  </div>
                </div>

                <div class="col-md-6 col-sm-12">
                  <div class="form-group">
                    <span class="form-label">Postal Code</span>
                   <input class="form-control" type="number" placeholder="Enter Your Postal Code">    
                  </div>
                </div>
              </div>


              <div class="row">
                <div class="">
                  <button class="submit-btn col-sm-12">Register</button>
                </div>
              </div>

              <div class="row having-account">
                <div class="col-sm-12">
                <span>Have an account ? </span><a routerLink="../login">Login</a>
              </div>
              </div>


             


            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>