<!-- <div class="shopping-item">
    <div class="dropdown-cart-header">
        <span>2 Items</span>
        <a href="#">View Cart</a>
    </div>
    <ul class="shopping-list">
        <li>
            <a href="#" class="remove" title="Remove this item"><i class="fa fa-remove"></i></a>
            <a class="cart-img" href="#"><img src="https://via.placeholder.com/70x70" alt="#"></a>
            <h4><a href="#">Woman Ring</a></h4>
            <p class="quantity">1x - <span class="amount">$99.00</span></p>
        </li>
        <li>
            <a href="#" class="remove" title="Remove this item"><i class="fa fa-remove"></i></a>
            <a class="cart-img" href="#"><img src="https://via.placeholder.com/70x70" alt="#"></a>
            <h4><a href="#">Woman Necklace</a></h4>
            <p class="quantity">1x - <span class="amount">$35.00</span></p>
        </li>
    </ul>
    <div class="bottom">
        <div class="total">
            <span>Total</span>
            <span class="total-amount">$134.00</span>
        </div>
        <a href="checkout.html" class="btn animate">Checkout</a>
    </div>
</div> -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="shopping-cart section">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- Shopping Summery -->
                        <table class="table shopping-summery">
                            <thead>
                                <tr class="main-hading">
                                    <th>Hotel</th>
                                    <th>NAME</th>
                                    <!-- <th class="text-center">UNIT PRICE</th>
                                    <th class="text-center">QUANTITY</th> -->
                                    <th class="text-center">Number Of Stars</th>
                                    <th class="text-center">Book Now</th>
                                    <th class="text-center"><i class="fa fa-trash-can"></i></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="image" data-title="No"><img src="https://via.placeholder.com/100x100"
                                            alt="#"></td>
                                    <td class="product-des" data-title="Description">
                                        <p class="product-name"><a href="#">Women Dress</a></p>
                                        <p class="product-des">Maboriosam in a tonto nesciung eget distingy magndapibus.
                                        </p>
                                    </td>
                                    <td class="total-amount" data-title="Total"><span>$220.88</span></td>
                                    <td>
                                        <a class="btn btn-primary">Book Now</a>
                                    </td>
                                    <td class="action" data-title="Remove"><a href="#"><i class="fa fa-trash-can"></i></a></td>
                                </tr>
                                
                            </tbody>
                        </table>
                        <!--/ End Shopping Summery -->
                    </div>
                </div>
            </div>
        </div>
        <!--/ End Shopping Cart -->
    </div>
</div>