<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
      <div class="p-5">
        <div class="row g-5 align-items-center">
          <div class="col-md-12">
            <h1 class="text-black mb-4">Book A Tour</h1>
            <form (ngSubmit)="onSubmit()">
              <div class="row g-3">
                <div class="col-md-6">
                  <div class="form-floating">
                    <input type="datetime-local" class="form-control bg-transparent" id="startDate" [(ngModel)]="reservation.startDate" name="startDate" required>
                    <label for="startDate">Start Date</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-floating">
                    <input type="datetime-local" class="form-control bg-transparent" id="endDate" [(ngModel)]="reservation.endDate" name="endDate" required>
                    <label for="endDate">End Date</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-floating">
                    <input type="number" class="form-control bg-transparent" id="numberOfGuests" [(ngModel)]="reservation.numberOfGuests" name="numberOfGuests" required>
                    <label for="numberOfGuests">Number of Guests</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-floating">
                    <input type="number" class="form-control bg-transparent" id="amount" [(ngModel)]="reservation.amount" name="amount" disabled>
                    <label for="amount">Amount</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-floating">
                    <input type="number" class="form-control bg-transparent" id="roomId" [(ngModel)]="roomId" name="roomId" disabled>
                    <label for="roomIds">Room IDs</label>
                  </div>
                </div>
                <div class="col-12">
                  <button class="btn btn-outline-dark w-100 py-3" type="submit">Book Now</button>
                </div>
              </div>
            </form>
            <div *ngIf="errorMessage" class="alert alert-danger mt-3">{{ errorMessage }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  