<!-- <app-hero-section></app-hero-section>
<app-popular-destination></app-popular-destination>
<app-packages></app-packages>
<app-about></app-about>
<app-services></app-services>
<app-booking></app-booking>
<app-process></app-process>
<app-team></app-team>
<app-testimonial></app-testimonial>
<app-footer></app-footer>
<app-admin-dashboard></app-admin-dashboard> -->

<!-- Conditionally render components based on the search term -->
<!-- home.component.html -->
<div *ngIf="role == '[&quot;User&quot;]'|| role==''">
<app-hero-section (searchResults)="handleSearchResults($event)" (errorSearchResults)="handleErrorSearchResult($event)"></app-hero-section>

<!-- Conditionally render components based on the search results -->
<div *ngIf="searchResults.length === 0 && !errorSearchResults">
  <app-package-home></app-package-home>
  <app-popular-destination></app-popular-destination>
  <app-packages></app-packages>
  <!-- <app-about></app-about>
  <app-services></app-services> -->
  <!-- <app-booking></app-booking> -->
  <app-process></app-process>
  <app-testimonial></app-testimonial>
  <!-- <app-footer></app-footer> -->
</div>

<div *ngIf="searchResults.length > 0 || errorSearchResults">
  <app-search [results]="searchResults"  [errorSearch]="errorSearchResults"></app-search>
  <!-- <app-footer></app-footer> -->
</div>
</div>
<!-- <div *ngIf="role == '["Owner"]'">
  <app-admin-dashboard></app-admin-dashboard>
</div> -->

<div *ngIf="role == '[&quot;Owner&quot;]'">
  <app-owner-dashboard></app-owner-dashboard>
</div>
<div *ngIf="role == '[&quot;Admin&quot;]'">
  <app-admin-dashboard></app-admin-dashboard>
</div>