<div class="registration-form">
    <div *ngIf="resultMessage" class="response-message alert alert-success">
        {{ resultMessage }}
    </div>
    <form (ngSubmit)="confirmReset()" #confirmResetForm="ngForm" *ngIf="!resultMessage">
        <div class="form-icon">
            <span><i class="fa-regular fa-user"></i></span>
        </div>

        <div *ngIf="errorMessage" class="alert alert-danger">
            {{ errorMessage }}
        </div>

        <div class="m-2">
            <h4 class="text-center">Enter your new password</h4>
        </div>

        <div class="form-group">
            <input type="email" class="form-control item" id="Email" placeholder="Email" 
                   [(ngModel)]="newPasswordModel.Email" name="Email" 
                   #emailInput="ngModel" required email 
                   [class.is-invalid]="emailInput.invalid && (emailInput.dirty || emailInput.touched)">
            <div *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)" class="invalid-feedback">
                <div *ngIf="emailInput.errors?.['required']">Email is required.</div>
                <div *ngIf="emailInput.errors?.['email']">Invalid email format.</div>
            </div>
        </div>

        <div class="form-group">
            <input type="password" class="form-control item" id="Password" placeholder="New Password"
                   [(ngModel)]="newPasswordModel.Password" name="Password" 
                   #passwordInput="ngModel" required 
                   [class.is-invalid]="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)">
            <div *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)" class="invalid-feedback">
                <div *ngIf="passwordInput.errors?.['required']">Password is required.</div>
            </div>
        </div>

        <div class="form-group">
            <input type="password" class="form-control item" id="ConfirmPassword" placeholder="Confirm Password"
                   [(ngModel)]="newPasswordModel.ConfirmPassword" name="ConfirmPassword" 
                   #confirmPasswordInput="ngModel" required 
                   [class.is-invalid]="confirmPasswordInput.invalid && (confirmPasswordInput.dirty || confirmPasswordInput.touched)">
            <div *ngIf="confirmPasswordInput.invalid && (confirmPasswordInput.dirty || confirmPasswordInput.touched)" class="invalid-feedback">
                <div *ngIf="confirmPasswordInput.errors?.['required']">Confirm Password is required.</div>
                <div *ngIf="newPasswordModel.Password !== newPasswordModel.ConfirmPassword">Passwords do not match.</div>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-block create-account col-12" [disabled]="confirmResetForm.invalid">Submit</button>
        </div>
        
        <div class="row text-center mt-2">
            <div class="col-sm-12">
                <span>Don't have an account?</span> <a routerLink="../register">Register</a>
            </div>
        </div>
    </form>
</div>
