<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
<div id="booking" class="section">
  <div class="section-center">
    <div class="container">
      <div class="row">
       <!-- <div class="col-md-7 col-md-push-5">
          <div class="booking-cta">
            <h1>Make your reservation</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi facere, soluta magnam consectetur molestias itaque
              ad sint fugit architecto incidunt iste culpa perspiciatis possimus voluptates aliquid consequuntur cumque quasi.
              Perspiciatis.
            </p>
          </div>
        </div>-->
        <div class="col-md-12 col-md-pull-7">
          <div class="booking-form">
            <form>
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <span class="form-label">Email</span>
                   <input class="form-control" type="email" placeholder="Enter Your Email">    
                  </div>
                </div>

                <div class="col-12">
                  <div class="form-group">
                    <span class="form-label">Password</span>
                   <input class="form-control" type="password" placeholder="Enter Your Password">    
                  </div>
                </div>
              </div>


            
              <div class="row">
                <div class="">
                  <button class="submit-btn col-sm-12">Login</button>
                </div>
              </div>

              <div class="row having-account">
                <div class="col-sm-12">
                <span>Don't have an account ? </span><a routerLink="../register">Register</a>
              </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>