<div class="row flex-grow">
    <div class="col-12 grid-margin stretch-card">
        <div class="card card-rounded">
            <div class="card-body">
                <div class="d-sm-flex justify-content-between align-items-start">
                    <div>
                        <h4 class="card-title card-title-dash">Hotels</h4>
                        <!-- <p class="card-subtitle card-subtitle-dash">You have 50+ new requests
                        </p> -->
                    </div>
                    <div>
                        <button class="btn btn-primary btn-lg text-white mb-0 me-0"
                            type="button" routerLink="../addhotel"><i class="mdi mdi-account-plus"></i>Add new
                            Hotel</button>
                    </div>
                </div>
                <div *ngIf="NoHotelMessage" class="response-message alert alert-danger">
                    {{ NoHotelMessage }}
                  </div>
                <div class="table-responsive  mt-1" *ngIf="!NoHotelMessage">
                    <table class="table select-table text-center">
                        <thead>
                            <tr>
                                <!-- <th>
                                    <div class="form-check form-check-flat mt-0">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input"
                                                aria-checked="false" id="check-all" disabled><i
                                                class="input-helper"></i><i
                                                class="input-helper"></i></label>
                                    </div>
                                </th> -->
                                <th>Hotel</th>
                                <th>Hotel Name</th>
                                <th>Add Room</th>
                                <th>Rooms</th>
                                <th>Add Offer</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let hotel of hotels">
                            <tr>
                                <!-- <td>
                                    <div class="form-check form-check-flat mt-0">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input"
                                                aria-checked="false"><i
                                                class="input-helper"></i><i
                                                class="input-helper"></i></label>
                                    </div>
                                </td> -->
                                <td>
                                    <div  class="d-flex images" *ngIf="hotel.images" [routerLink]="['../details',hotel.id]">
                                        <img [src]="hotel.images[0].source" alt="{{hotel.name}}">
                                        <div>
                                            <h6 class="ms-2">{{hotel.name}}</h6>
                                            <!-- <p>{{hotel.description}}</p> -->
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h6>{{hotel.address.city}}</h6>
                                    <p><i class="fa fa-star text-warning me-2"></i>{{hotel.numberOfStars}} Stars</p>
                                </td>
                                <td>
                                    <div>
                                        <button class="btn btn-warning" [routerLink]="['../addroom', hotel.id]">Add Room</button>
                                    </div>
                                </td>
                                <td>
                                    <div>{{roomCounts[hotel.id] || 0}}</div>
                                </td>
                                <td>
                                    <div>
                                        <button class="btn btn-info" [routerLink]="['../addoffer', hotel.id]">Add Offer</button>
                                    </div>
                                </td>
                            </tr>
                            <!-- <tr>
                                <td>
                                    <div class="form-check form-check-flat mt-0">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input"
                                                aria-checked="false"><i
                                                class="input-helper"></i><i
                                                class="input-helper"></i></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex">
                                        <img src="assets/images/faces/face2.jpg" alt="">
                                        <div>
                                            <h6>Laura Brooks</h6>
                                            <p>Head admin</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h6>Company name 1</h6>
                                    <p>company type</p>
                                </td>
                                <td>
                                    <div>
                                        <div
                                            class="d-flex justify-content-between align-items-center mb-1 max-width-progress-wrap">
                                            <p class="text-success">65%</p>
                                            <p>85/162</p>
                                        </div>
                                        <div class="progress progress-md">
                                            <div class="progress-bar bg-success"
                                                role="progressbar" style="width: 65%"
                                                aria-valuenow="65" aria-valuemin="0"
                                                aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="badge badge-opacity-warning">In progress</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check form-check-flat mt-0">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input"
                                                aria-checked="false"><i
                                                class="input-helper"></i><i
                                                class="input-helper"></i></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex">
                                        <img src="assets/images/faces/face3.jpg" alt="">
                                        <div>
                                            <h6>Wayne Murphy</h6>
                                            <p>Head admin</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h6>Company name 1</h6>
                                    <p>company type</p>
                                </td>
                                <td>
                                    <div>
                                        <div
                                            class="d-flex justify-content-between align-items-center mb-1 max-width-progress-wrap">
                                            <p class="text-success">65%</p>
                                            <p>85/162</p>
                                        </div>
                                        <div class="progress progress-md">
                                            <div class="progress-bar bg-warning"
                                                role="progressbar" style="width: 38%"
                                                aria-valuenow="38" aria-valuemin="0"
                                                aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="badge badge-opacity-warning">In progress</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check form-check-flat mt-0">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input"
                                                aria-checked="false"><i
                                                class="input-helper"></i><i
                                                class="input-helper"></i></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex">
                                        <img src="assets/images/faces/face4.jpg" alt="">
                                        <div>
                                            <h6>Matthew Bailey</h6>
                                            <p>Head admin</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h6>Company name 1</h6>
                                    <p>company type</p>
                                </td>
                                <td>
                                    <div>
                                        <div
                                            class="d-flex justify-content-between align-items-center mb-1 max-width-progress-wrap">
                                            <p class="text-success">65%</p>
                                            <p>85/162</p>
                                        </div>
                                        <div class="progress progress-md">
                                            <div class="progress-bar bg-danger"
                                                role="progressbar" style="width: 15%"
                                                aria-valuenow="15" aria-valuemin="0"
                                                aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="badge badge-opacity-danger">Pending</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check form-check-flat mt-0">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input"
                                                aria-checked="false"><i
                                                class="input-helper"></i><i
                                                class="input-helper"></i></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex">
                                        <img src="assets/images/faces/face5.jpg" alt="">
                                        <div>
                                            <h6>Katherine Butler</h6>
                                            <p>Head admin</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h6>Company name 1</h6>
                                    <p>company type</p>
                                </td>
                                <td>
                                    <div>
                                        <div
                                            class="d-flex justify-content-between align-items-center mb-1 max-width-progress-wrap">
                                            <p class="text-success">65%</p>
                                            <p>85/162</p>
                                        </div>
                                        <div class="progress progress-md">
                                            <div class="progress-bar bg-success"
                                                role="progressbar" style="width: 65%"
                                                aria-valuenow="65" aria-valuemin="0"
                                                aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="badge badge-opacity-success">Completed</div>
                                </td>
                            </tr> -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>